body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #919191;
    padding: 10px;
    text-align: center;
}

/* it will target direct children */

header>h1 {
    margin: 0;
    font-style: italic;
    color: #fff;
}

/*adjacent selectors */

header+.border-line {
    border-top: 1px solid #cecece;
    margin-top: 30px;
}

.grocery-container {
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 300px;
    background-color: #dcdcdc;
}

.grocery-container>ul {
    margin: 0;
    padding-left: 0;
}

.grocery-container>ul li {
    list-style-type: none;
    padding: 10px;
}

/* last-child is a pseudo class */
/* not is a pseudo class */


.grocery-container>ul li:first-child {
    border-bottom: 1px solid red;
    margin-bottom: 20px;
}

.grocery-container>ul li:not(:last-child) {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}



.container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #dcf0f3;
}

.n-section li {
    font-size:20px;
    padding:10px;
    background-color: gray;
    margin-bottom:10px;
    border-radius:10px;
    color:#fff;
    list-style-type: none;
}

/* n-child selector */
.n-section li:nth-child(1){
    font-style:italic;
    color:green;
    background-color: bisque;
}

/* is pseudo selector */

.is-section :is(h3,h5,a){
    color:red;
}

/* has pseudo selector  is used to target a parent*/

.container:has(img){
    background-color: red;
}

/* first line */

.firstline:first-line {
    font-style: italic;
    font-weight: bold;
    font-size:45px;
}