html {
    font-size: 16px;
}

body {

    margin: 0;
    padding: 0;

}


main {
    margin: 1.5rem;
    display: flex;
    gap: 1.5rem;
}

article{
    text-align: center;
}
article .author-pic {
    width: 100px;
    height: 100px;
    margin:0 auto;
    border-radius: 50%;
    background-image: url('../imgs/emp1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

article:nth-child(2) .author-pic {
    background-image: url('../imgs/emp2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

article:nth-child(3) .author-pic {
    background-image: url('../imgs/emp3.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

article:nth-child(4) .author-pic {
    background-image: url('../imgs/emp4.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

article:nth-child(5) .author-pic {
    background-image: url('../imgs/emp5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

article:nth-child(6) .author-pic {
    background-image: url('../imgs/emp6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


article {
    padding: 1.5rem;
    background-color: #e3cced;
    -webkit-box-shadow: -1px -1px 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 8px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 8px -1px rgba(0, 0, 0, 0.75);
}

.author {
    font-weight: 600;
}