body {
    padding: 0;
    margin: 0;
}

.header-section {
    height: 50px;
    background-color: #000;
}

/* This class is used to style the logo */

.textual-logo {
    background-color: #e62a1a;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 150px;
    color: #fff;
    height: 50px;
    text-align: center;
    display: inline-block
}

.textual-logo span {
    line-height: 47px;
}

nav {
    display: inline-block;
}

li:first-child>a {
    color: aqua;
}


li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    list-style-type: none;
    display: inline-block;
    margin-right: 24px;
}


a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

a:hover {
    color: #e62a1a;
}






.header-img {
    background-image: url('../imgs/main-header.jpeg');
    background-position: center;
    height: 320px;
}

.header-img h2 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 105px;
    color: #fff;
    line-height: 289px;
    margin: 0;
    text-shadow: -2px 4px 7px rgba(0, 0, 0, 0.38);
}






footer {
    height: 50px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
}

/* All styles related to about Us */

#about-us {
    margin-top: 20px;
    padding: 10px;
}

.strip-header {
    width: 200px;
    background-color: #e62a1a;
    padding: 15px 10px;
    border-left: 10px solid #000;
}

div p {
    color: blue;
}


/* css styles for psuedo classes session */
/* Universal selector */
#pseudo-session * {
    font-size: 20px;
}

#pseudo-session h1 {
    color: #e62a1a;
}


/* Pseudo selectors */
#pseudo-session h1:first-child {
    color: rgb(128, 0, 11);
}

/* descendant selector */
#pseudo-session>h1 {
    color: green;
}



#pseudo-session h1 {
    background-color: #cecece;
    padding: 20px;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width:200px;
    height:200px;
    border-radius:50%;
    margin-right:20px;

}

img:hover{
    border-radius:70%;
    opacity:0.3;
}