body {
    padding: 0;
    margin: 0;
}

.header-section {
    height: 50px;
    background-color: #000;
}

.textual-logo {
    background-color: #e62a1a;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 150px;
    color: #fff;
    height: 50px;
    text-align: center;
}

.textual-logo span {
    line-height: 47px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
}