body {
    padding: 0;
    margin: 0;
}

header {
    background-color: gray;
    padding: 15px 10px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 20px;
}

.nav-list li {
    list-style-type: none;
    margin: 0;
    border-radius:5px;
    background-color: #fff;
    padding:5px;
}

.nav-list li:hover{
    background-color:aliceblue;
}